services:
  seedbox:
    build: ./src
    user: "1000:1000"
    volumes:
      - ./src:/opt/app
      - /opt/app/node_modules/
      - shared-torrents:/shared-torrents
      - transmission-downloads:/downloads
      - temporary-files:/tmp
      - avatar-storage:/avatar
    ports:
      - 3000:3000
    networks:
      - mongodb-network
      - transmission-network

  teurpitorrent:
    build: ./angular/teurpitorrent
    container_name: teurpitorrent
    ports:
      - '4200:4200'
    volumes:
      - ./angular/teurpitorrent:/teurpitorrent
    environment:
      - STYLE=css

  mongodb:
    image: mongo:8.0.0
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: seedapp
    volumes:
      - mongodb-storage:/data/db
      - ./docker/mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - mongodb-network

  mongo-express:
    image: mongo-express
    ports:
      - 8088:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_SERVER: mongodb
    networks:
      - mongodb-network

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Paris
#    - WHITELIST= #optional
#    - PEERPORT= #optional
#    - HOST_WHITELIST= #optional
#    - TRANSMISSION_WEB_HOME= #optional
    volumes:
      - ./transmission/data:/config
      - transmission-downloads:/downloads
      - shared-torrents:/shared-torrents
#    - /path/to/watch/folder:/watch
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
    networks:
      - transmission-network

volumes:
  mongodb-storage:
  transmission-downloads:
    driver: local
    driver_opts:
      type: none
      device: ./transmission/downloads
      o: bind
  shared-torrents:
    driver: local
    driver_opts:
      type: none
      device: ./transmission/shared-torrents
      o: bind
  temporary-files:
    driver: local
    driver_opts:
      type: none
      device: ./temporary-files
      o: bind
  avatar-storage:
    driver: local
    driver_opts:
      type: none
      device: ./angular/teurpitorrent/public/avatar
      o: bind

networks:
  mongodb-network:
    driver: bridge
  transmission-network:
    driver: bridge