.pr-submitcheck {
	padding-left: 8px;
}

.afm-title {
	margin-top: 6px;
}

.afm-actions {
	margin-top: 30px;
}

.afm-files {
	margin-top: 20px;
}

.afm-search {
	margin-top: 16px;
}

.afm-table {
}

.afm-left-button {
	margin-left: 66px;
}

.afm-button {
	margin-left: 16px;
}

.ts-nb-select {
	font-size: 13px;
	color: #99A8B2;
	font-family: MuseoSans-500;
}