.rating {
	/* font-size: 175%; */
	font-size: 12pt;
	/* padding: 0 0.5em; */
	color: #325064;
	display: inline;
	vertical-align: middle;
}

.rating > a {
  text-decoration: none;
}

.rating .rating-highlight, .rating.rating-highlight:hover {
  /* color: #F4914E; */
	color: #B4BEC6;
}

.rating .rating-normal, .rating.rating-normal:hover {
	color: #325064;
  /* color: #3C3C3C; */
}
