<div class="page-title">
    <h3>Configuration</h3>
</div>

<div id="main-wrapper">

        <div ng-repeat="(settingKey, setting) in settings">
            <div class="col-md-6">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{settingKey}}</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="updatePart(settingKey)">
                            <div ng-repeat="(elementKey, element) in setting">
                                {{elementKey}}

                                <!-- GENERIC SHOW -->
                                <div ng-if="elementKey != 'panels'">
                                    <div ng-if="settingsDefault[settingKey][elementKey].switch">
                                        <select ng-options="value for value in settingsDefault[settingKey][elementKey].values" ng-model="settings[settingKey][elementKey]"></select>
                                    </div>
                                    <div ng-if="!settingsDefault[settingKey][elementKey].switch && settingsDefault[settingKey][elementKey].type == 'string' ">
                                        <input type="text" ng-model="settings[settingKey][elementKey]">
                                    </div>
                                    <div ng-if="!settingsDefault[settingKey][elementKey].switch && settingsDefault[settingKey][elementKey].type == 'number' ">
                                        <input type="number" ng-model="settings[settingKey][elementKey]">
                                    </div>
                                    <div ng-if="settingsDefault[settingKey][elementKey].type == 'boolean'">
                                        <input type="checkbox" ng-model="settings[settingKey][elementKey]">
                                    </div>
                                </div>

                                <!-- DASHBOARD - PANELS -->
                                <div ng-if="elementKey == 'panels'" ng-repeat="(panelKey, panel) in setting.panels">
                                    {{panel.title}}
                                    <div ng-repeat="(panelElementKey, panelElement) in panel">
                                        {{panelElementKey}}
                                        <div ng-if="settingsDefault.dashboard.panels.match[panelElementKey].switch">
                                            <select ng-options="value for value in settingsDefault.dashboard.panels.match[panelElementKey].values" ng-model="settings[settingKey][elementKey][panelKey][panelElementKey]"></select>
                                        </div>
                                        <div ng-if="!settingsDefault.dashboard.panels.match[panelElementKey].switch">
                                            <input type="text" ng-model="settings[settingKey][elementKey][panelKey][panelElementKey]">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
</div>
