<div class="row">
	<div class="col-md-12">
	    <h3 class="tt-title">ADD DIRECTORY:</h3>
	</div>
	<div class="col-md-12">
		<p class="tt-text">Enter below the full path of your directory <br/><span class="ad-warning"><i class="fa fa-exclamation-triangle"></i>WARNING : this can take a lot of time, don't enter a directory too deep<i class="fa fa-exclamation-triangle"></i></span></p>
	</div>
	<div class="col-md-12 tt-text">
		<form ng-submit="searchDirectory()">
			<div class="tt-search-div">
				<input class="tt-search-input" placeholder="Enter directory path" ng-model="sendDir"> <button type="submit" class="tt-search-button">|<i class="fa fa-check au-addcheck"></i></button>
		    </div>
		</form>
	</div>
	<div class="col-md-12">
		<table class="table tt-table">
			<thead>
				<tr>
					<th></th>
					<th>type</th>
					<th>name</th>
					<th>size</th>
					<th>warnings</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(index, element) in tree" ng-class-odd="'tt-table-odd'" ng-class-even="'tt-table-even'">
					<td><input type="checkbox" ng-model="model" ng-change="selectItem(index)"></td>
					<td>{{element.fileType}}</td>
					<td>{{element.path}}</td>
					<td>{{element.size}}</td>
					<td>{{element.rights}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="page-title">
    <h3>Ajouter un dossier</h3>
</div>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h3 class="panel-title">Verifier path</h3>
                </div>

                <div class="panel-body">
                    <form ng-submit="searchDirectory()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Path</label>
                            <input type="text" class="form-control" ng-model="sendDir" placeholder="Your path">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h3 class="panel-title">Votre dossier contient</h3>
                </div>

                <div class="panel-body">
                    <div ng-repeat="(index, element) in tree">
                        <input type="checkbox" ng-model="model" ng-change="selectItem(index)">{{index}} {{element.path}} {{element.rights}} {{element.size}} {{element.fileType}}
                    </div>

                    <button class="btn btn-primary" ng-click="addDirectory()">Ajouter les elements selectionnés</button>
                </div>
            </div>
        </div>
    </div>
</div>
