<div class="row">
	<div class="col-md-12 afm-title">
	    <h4 class="tt-title">FILES MANAGER:</h4>
	</div>
	<div class="col-md-12 afm-search">
		<div class="tt-search-div col-md-3 col-xs-6">
		  <input class="tt-search-input col-md-10 col-xs-10" placeholder="Search files" ng-model="search"> <button type="button" class="tt-search-button">|<i class="fa fa-search tt-search-icon"></i></button>
		</div>
	</div>
	<div class="col-md-12 afm-actions">
		<button ng-click="hardUnlockSelected()" class="btn btn-default tt-button afm-left-button">Unlock selected <i class="fa fa-check pr-submitcheck"></i></button>
		<button ng-click="deleteSelected()" class="btn btn-default tt-button afm-button">Delete selected from database and server<i class="fa fa-check pr-submitcheck"></i></button>
		<button ng-click="deleteSelectedOnlyDb()" class="btn btn-default tt-button afm-button">Delete selected from database<i class="fa fa-check pr-submitcheck"></i></button>
		<button ng-click="deleteUnlocked()" class="btn btn-default tt-button afm-button">Delete all unlocked from database and server<i class="fa fa-check pr-submitcheck"></i></button>
	</div>
	<div class="col-md-12 afm-files">
        <table class="display table tt-table" style="width: 100%; cellspacing: 0;">
            <thead class="tt-title pr-table-title">
                <tr>
					<th>
		                <input type="checkbox" ng-model="checkboxAll" ng-change="selectAll()">
					</th>
                    <th class="" ng-click="order('type')">
                        TYPE <i ng-show="sortColumn === 'type'" ng-class="classSort"></i>
                    </th>

                    <th class="col-md-5" ng-click="order('name')">
                        NAME <i ng-show="sortColumn === 'name'" ng-class="classSort"></i>
                    </th>

                    <th class="" ng-click="order('size')">
                        SIZE <i ng-show="sortColumn === 'size'" ng-class="classSort"></i>
                    </th>

                    <th class=""><i class="fa fa-heart"></i></th>

					<th class="" ng-click="order('createdAt')">
                        DATE <i ng-show="sortColumn === 'createdAt'" ng-class="classSort"></i>
                    </th>

					<th class=""><i class="fa fa-user"></i></th>

                </tr>
            </thead>
            <tbody class="tt-text">
                <tr ng-repeat="(key, item) in elementsActual | filter : search | orderBy:sortColumn:reverse"  ng-class-odd="'tt-table-odd'" ng-class-even="'tt-table-even'">
					<td>
						<input type="checkbox" ng-model="item.checkbox" ng-change="checkboxSwitch(item._id)">
					</td>
                    <td class="tt-darkblue">
                        <div ng-switch="item.type">
                            <div ng-switch-when="folder" ><i class="icon-folder fls-icon"></i></div>
                            <div ng-switch-when="audio" ><i class="tt-icon-music fls-tt-icon"></i></div>
                            <div ng-switch-when="video" ><i class="tt-icon-film fls-tt-icon"></i></div>
                            <div ng-switch-when="image" ><i class="icon-picture fls-icon"></i></div>
                            <div ng-switch-when="text" ><i class="tt-icon-file-text2 fls-tt-icon"></i></div>
                            <div ng-switch-default ><i class="tt-icon-file-empty fls-tt-icon"></i></div>
                        </div>
                    </td>
                    <td ng-click="openFile(item)">{{item.name}}</td>
                    <td>{{item.sizeConvert}}</td>
                    <td>
                        <i ng-if="item.isLockedByUser == 1" class="fa fa-heart tt-locked-user" ng-click="unlockFile(item)"></i>
                        <i ng-if="(item.isLocked == 1 && item.isLockedByUser == 0)" class="fa fa-heart tt-locked-other" ng-click="lockFile(item)"></i>
                        <i ng-if="(item.isLocked == 0 && item.isLockedByUser == 0)" class="fa fa-heart tt-locked-no" ng-click="lockFile(item)"></i>
                    </td>
					<td>{{item.createdAt | date:'MM/dd/yy'}}</td>
					<td><img ng-src="/assets/avatar/{{item.creator.avatar}}" err-SRC="/assets/avatar/default.png" title="{{item.creator.login}}" alt="{{item.creator.login}}" class="tt-list-avatar"></img></td>
                </tr>
            </tbody>
		</table>
	</div>
</div>
