<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="d-header">
                <div class="panel-body">
                    <p class="no-s d-nbusers">{{connectedUsers}} user<ng-pluralize count="connectedUsers" when="{ 1: ' is ', 'other': 's are '}"></ng-pluralize>connected</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <div ng-repeat="item in content" ng-if="$index % 2 == 0" class="row">
			<content-item class="col-md-6" content="content[$index]"></content-item>
			<content-item class="col-md-6" content="content[$index + 1]"></content-item>
		</div>
    </div>
</div>
