<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white d-header">
                <div class="panel-body">
                    <p class="no-s d-nbusers">{{connectedUsers}} user<ng-pluralize count="connectedUsers" when="{ 1: ' is ', 'other': 's are '}"></ng-pluralize>connected</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <content-item ng-repeat="item in content | orderBy:'order'" content="item"></content-item>
    </div>
</div>
