<!-- <div class="page-title"> -->
<!--     <h3><i ng-if="states.from.name" ng-click="tools.backPage()" class="fa fa-chevron-left fa-2"></i> {{torrent.name}}</h3> -->
<!-- </div> -->

<!-- ligne 120 -->

<div id="main-wrapper">
	<div class="row">
		<div class="col-md-12 fl-path tt-text">
            <span ng-click="backFolder(treeBase, []);">< Go back </span>/<a ui-sref="seedbox.files"> files  </a> / <span>{{torrent.name}} /</span> {{pathActualString}}
		</div>
		<div class="col-md-12 fl-body">
			<div class="col-md-8 fl-arbo">
				<table class="table fl-table tt-text">
					<thead>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-6"></th>
						<th class="col-md-2"></th>
						<th class="col-md-2"></th>
					</thead>
					<tbody>
						<tr class="first-tr">
							<td class="col-md-1 tt-darkblue"><i class="icon-folder fl-icon"></i></td>
							<td class="col-md-7" colspan="2">{{folderActual}}</td>
							<td class="col-md-2">{{torrent.sizeConvert}}</td>
		                    <td class="col-md-2 tt-darkblue"> <i class="icon-down-circled fl-downloadico" ng-click="downloadDirActual()"></i> </td>
						</tr>
                    	<tr ng-repeat="item in treeActual.fileList">
							<td class="col-md-1"></td>
                    	    <td class="col-md-1 tt-darkblue">
		                        <div ng-switch="item.type">
		                            <div ng-switch-when="folder" ><i class="icon-folder fl-icon"></i></div>
		                            <div ng-switch-when="audio" ><i class="tt-icon-music fl-tt-icon"></i></div>
		                            <div ng-switch-when="video" ng-click="openModal.streamMovie(torrent._id, item)"><i class="tt-icon-film fl-tt-icon"></i></div>
		                            <div ng-switch-when="image" ><i class="icon-picture fl-icon"></i></div>
		                            <div ng-switch-when="text" ><i class="tt-icon-file-text2 fl-tt-icon"></i></div>
		                            <div ng-switch-default ><i class="tt-icon-file-empty fl-tt-icon"></i></div>
		                        </div>
		                    </td>
                    	    <td class="col-md-6" ng-click="openFolder(item)">{{item.name}}</td>
                    	    <td class="col-md-2">{{item.sizeConvert}}</td>
                    	    <td class="col-md-2 tt-darkblue"> <i ng-click="download(torrent._id, item.name)" class="icon-down-circled fl-downloadico" ></i> </td>
                    	</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4 fl-right-col">
				<div class="col-md-12 fl-infos tt-text">
					<div> Download : {{torrent.createdAt | date:'MM/dd/yy'}}</div>
					<div>
						Wishlist :
                        <i ng-if="torrent.isLockedByUser == 1" class="fa fa-heart fls-locked-user" ng-click="unlockFile(torrent)"></i>
                        <i ng-if="(torrent.isLocked == 1 && torrent.isLockedByUser == 0)" class="fa fa-heart fls-locked-other" ng-click="lockFile(torrent)"></i>
                        <i ng-if="(torrent.isLocked == 0 && torrent.isLockedByUser == 0)" class="fa fa-heart fls-locked-no" ng-click="lockFile(torrent)"></i>
					</div>
					<div> Downloaded : {{torrent.downloads}} times</div>
				</div>
				<div class="col-md-12 fl-add-file">
					<h4 class="fl-title tt-title">ADD LOCAL FILE:</h4>
                    <form>
                        <div ngf-drop ngf-select ng-model="files" class="drop-box tt-dottedborder"
                            ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                            accept="*"
                            ngf-pattern="'*'" style="height: 104px;">Drop files here or click to upload</div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </form>
				</div>
			</div>
		</div>
		<div class="col-md-12 fl-body">
			<div class="col-md-8 fl-comments">
				<h3 class="fl-title tt-title">RATES & COMMENTS</h3>
				<!-- <hr class="d-hr"/> <\!-- MODIFIER HR GLOBAL ?? -\-> -->
				<table class="tt-table fl-table-comment tt-text">
					<tbody>
                        <tr ng-repeat="(index, comment) in torrent.comments" ng-class-odd="'tt-table-odd'" ng-class-even="'tt-table-even'">
                            <td class="col-md-1">
                                <img ng-src="/assets/avatar/{{comment.user.avatar}}" err-SRC="/assets/avatar/default.png" alt="Smiley face" class="message-avatar"><!-- CHANGER LA CLASS -->
                            </td>
                            <td class="col-md-2">
                                <div class="stars fl-comment-stars">{{getGradeByUser(comment.user._id)}}</div>
                            </td>
                            <td class="col-md-9">
                                <span class="fl-comment-name">{{comment.user.login}} -</span> {{comment.text}}
                            </td>
							<td class="col-md-2" ng-if="user.role == 0">
                                <i class="fa fa-times" ng-click="deleteComment(index, comment._id)"></i>
                            </td>
                        </tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<div class="col-md-12 fl-rate-info tt-text">
					<div>Average rating : <div class="stars fl-average">{{torrent.averageGrade}}</div></div>
					<div>Number of comments : {{torrent.commentsNbr}}</div>
					<div>Rate it : <div class="rating" starrating score="torrent.rateByUser" max="5"></div></div>
				</div>
				<div class="col-md-12 fl-add-comment">
					<h4 class="fl-title tt-title">LEAVE A COMMENT:</h4>
					<div class="form-message">
                        <textarea ng-model="newComment"> </textarea>
                        <button ng-click="addComment()" class="btn btn-default">Submit <i class="fa fa-check tt-inputcheck"></i></button>
					</div>
				</div>
			</div>
		</div>

<!-- MODAL DE RECHERCHE FILM -->
<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Ajouter la fiche du film</h3>
    </div>
    <div class="modal-body">
        <input type="text" placeholder="Search" ng-model="query"> <button type="button" ng-click="search()" class="btn btn-primary">Search <i class="fa fa-search"></i></button>
        <div class="search-content-movie">
            <table class="display table" style="width: 100%; cellspacing: 0;">
                <thead>
                    <tr>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-2">Type</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-2">Poster</th>
                    </tr>
                </thead>
                <tbody ng-repeat="movie in result">
                    <tr ng-click="select(movie)" ng-class="movie.selected">
                        <td>{{movie.title || movie.name}}</td>
                        <td>{{movie.media_type}}</td>
                        <td>{{movie.release_date}}</td>
                        <td> <img ng-src="http://image.tmdb.org/t/p/w45{{movie.poster_path}}"> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Valider</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
    </div>
</script>

<script type="text/ng-template" id="modalStream.html">
    <div class="modal-header">
        <h3 class="modal-title">Streaming du film</h3>
    </div>
    <div class="modal-body">
        <videogular vg-theme="stream.theme.url">
            <vg-media   vg-src="stream.sources"
                        vg-native-controls="true"></vg-media>
        </videogular>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Fermer</button>
    </div>
</script>
