<!-- <div class="page-title"> -->
<!--     <h3>Les torrents</h3> -->
<!-- </div> -->

<div id="main-wrapper">

	<div class="row ts-search">
		<div class="col-md-12">
			<div class="tt-search-div col-md-3 col-xs-6">
				<input class="tt-search-input col-md-10 col-xs-10" placeholder="Search torrents" ng-model="search"> <button type="button" class="tt-search-button">|<i class="fa fa-search tt-search-icon"></i></button>
			</div>
	        <div class="col-md-2 tt-select-div ts-left-select">
	            <select ng-model="selected" ng-change="selectStatus(selected)" class="tt-select">
	    			<option value="all">All</option>
	    			<option value="active">Active</option>
	    			<option value="4">Downloading</option>
	    			<option value="6">Seeding</option>
	    			<option value="0">Paused</option>
	    			<option value="finished">Finished</option>
	    		</select>
	        </div>
		</div>
	</div>


	<div class="row ts-body">
		<div class="ts-torrents col-md-9 tt-text">
			<div class="ts-torrents-head col-md-12">
				<div class="col-md-1 ts-checkbox">
	                <input type="checkbox" ng-model="checkboxAll" ng-change="selectAll()">
				</div>
				<div class="col-md-11 ts-all-actions">
                	<a href="" class="ts-action" ng-click="torrentRemove([], false)"> <i class="fa fa-trash"></i> remove torrent(s) </a>
                	<a href="" class="ts-action" ng-click="torrentStart([])"> <i class="fa fa-play"></i> resume torrent(s)</a>
                	<a href="" class="ts-action" ng-click="torrentStop([])"> <i class="fa fa-pause"></i> pause torrent(s)</a>
                	<!-- <a href="" ng-click="torrentRemove([], true)"> <i class="fa fa-trash"></i> Delete local </a> -->
					<span class="ts-nb-select"> - {{ itemSelected.length }} selected </span>
				</div>
			</div>
			<div class="col-md-12 ts-torrents-body">
				<table class="table tt-table">
                    <tbody>
                        <tr ng-repeat="torrent in torrents | filter : search | filter : filters" context-menu="menuOptions" class="tt-dottedbottom ts-torrent-row">
                            <td>
                                <!-- ************************* CHECK BOX *************************  -->
								<div class="col-md-1 ts-checkbox-tr">
                                    <input type="checkbox" ng-model="torrent.checkbox" ng-change="checkboxSwitch(torrent.id)">
								</div>
								<div class="col-md-11">
    	                            <!-- ************************* TORRENT NAME *************************  -->
									<div class="col-md-12">
	                                    <span editable-text="torrent.name" onbeforesave="torrentRename($data, torrent.id)" e-form="textBtnForm">{{ torrent.name | limitTo:150 || 'empty' }}{{ torrent.name.length > 150 ? '...' : '' }}</span>
									</div>
	                                <!-- ************************* INFOS UP TORRENT *************************  -->
									<div class="col-md-12">
										<span class="ts-infos" ng-if="torrent.isFinished"> Seeding Complete </span>
										<span class="ts-infos" ng-if="torrent.status == 0 && !torrent.isFinished"> Paused </span>
										<span class="ts-infos" ng-if="torrent.status == 4"> Downloading from {{torrent.peersSendingToUs}} of {{torrent.peersConnected}} peers - <i class="fa fa-arrow-down tt-darkblue"></i> {{FileConvertSize(torrent.rateDownload)}}/s <i class="fa fa-arrow-up tt-darkblue"></i> {{FileConvertSize(torrent.rateUpload)}}/s </span>
										<span class="ts-infos" ng-if="torrent.status == 6"> Seeding to {{torrent.peersSendingToUs}} of {{torrent.peersConnected}} peers - <i class="fa fa-arrow-up tt-darkblue"></i> {{FileConvertSize(torrent.rateUpload)}}/s </span>
									</div>
        	                        <!-- ************************* PROGRESS BAR *************************  -->
									<div class="col-md-12">
										<div class="progress progress-md ts-progress">
		                                    <div class="progress-bar" ng-class="renderProgressBar(torrent)" role="progressbar" aria-valuenow="{{torrent.percentDone2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{torrent.percentDone2}}%">
    	    	                                {{torrent.percentDone2 | number:2}} %
    		                                </div>
										</div>
									</div>
            	                    <!-- ************************* INFOS DOWN TORRENT *************************  -->
									<div class="col-md-12 ts-infos">
										<span class="ts-infos" ng-if="torrent.status == 0 && torrent.isFinished"> {{FileConvertSize(torrent.totalSize)}}, uploaded {{FileConvertSize(torrent.uploadedEver)}} (Ratio {{torrent.uploadRatio | number:2}})</span>
										<span class="ts-infos" ng-if="torrent.status == 0 && !torrent.isFinished"> {{FileConvertSize(torrent.totalSize*torrent.percentDone)}} of {{FileConvertSize(torrent.totalSize)}}</span>
										<span class="ts-infos" ng-if="torrent.status == 4"> {{FileConvertSize(torrent.totalSize*torrent.percentDone)}} of {{FileConvertSize(torrent.totalSize)}} ({{torrent.percentDone2 | number:2}}%) - {{torrent.time}} remaining</span>
										<span class="ts-infos" ng-if="torrent.status == 6"> {{FileConvertSize(torrent.totalSize)}}, uploaded {{FileConvertSize(torrent.uploadedEver)}} (Ratio {{torrent.uploadRatio | number:2}}) </span>
										<!-- <i class="fa fa-arrow-down tt-darkblue"></i> {{FileConvertSize(torrent.rateDownload)}}/s -
    	                                <i class="fa fa-arrow-up tt-darkblue"></i> {{FileConvertSize(torrent.rateUpload)}}/s -
        	                            <i class="fa fa-upload tt-darkblue"></i> {{FileConvertSize(torrent.uploadedEver)}} (Ratio {{torrent.uploadRatio | number:2}}) -->
									</div>
								</div>
                            </td>
                        </tr>
                    </tbody>
				</table>
			</div>
		</div>
		<!-- ng-if="(user.role == '0' || config.torrents['add-torrent-enabled'])" -->
		<div class="ts-add-torrents col-md-3" >
			<div class="ts-add-url col-md-12">
				<h4 class="tt-title ts-title">ADD URL</h4>
	    		<div class="tt-search-div col-md-12">
    	            <input class="tt-search-input col-md-10 col-xs-10" placeholder="Add torrent url" ng-model="newTorrentUrl"> <button type="button" class="tt-search-button" ng-click="sendTorrentUrl()">|<i class="fa fa-check ts-addcheck"></i></button>
    			</div>
			</div>
			<div class="ts-add-file col-md-12">
				<h4 class="tt-title ts-title">ADD TORRENT FILE</h4>
                <form>
                    <div ngf-drop ngf-select ng-model="files" class="drop-box tt-dottedborder tt-dragndrop"
                        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                        accept="*"
                         ngf-pattern="'*'"> <div class="tt-dottedplaceholder">Drop files here or click to upload</div> </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </form>
			</div>
		</div>
	</div>
