
.icon-folder:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-down-circled:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */