<div class="page-title">
    <h3>Configuration</h3>
</div>

<div id="main-wrapper">
    <div class="row">
        <div ng-repeat="(settingKey, setting) in settings">
            <div class="col-md-6 center">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{settingKey}}</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="updatePart(settingKey)">
                            <div ng-repeat="(elementKey, element) in setting" ng-switch="element">
                                <label ng-switch-when="true">
                                    {{elementKey}} <input type="checkbox" ng-model="settings[settingKey][elementKey]">
                                </label>
                                <label ng-switch-when="false">
                                    {{elementKey}} <input type="checkbox" ng-model="settings[settingKey][elementKey]">
                                </label>
                                <label ng-switch-default>
                                    {{elementKey}} <input type="text" ng-model="settings[settingKey][elementKey]">
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h3 class="panel-title">Test url</h3>
                </div>

                <div class="panel-body">
                    <form ng-submit="addDirectory()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">URL</label>
                            <input type="text" class="form-control" ng-model="sendDir" placeholder="Url">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">NewDir</label>
                            <input type="text" class="form-control" ng-model="newDir" placeholder="Url">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
