<!-- <div class="page-title"> -->
<!--     <h3>Les fichiers</h3> -->
<!-- </div> -->

<div id="main-wrapper">
    <div class="row fls-search">
        <div class="col-md-12">
        <!-- <div class="col-md-10"> -->
            <!-- <div class="panel panel-white"> -->
            <!--   <div class="panel-body"> -->
				<div class="tt-search-div col-md-3 col-xs-6">
				  <input class="tt-search-input col-md-10 col-xs-10" placeholder="Search files" ng-model="search"> <button type="button" class="tt-search-button">|<i class="fa fa-search tt-search-icon"></i></button>
				</div>
                    <!-- <input type="text" placeholder="Search" ng-model="search"> <button type="button" class="btn btn-primary">Search <i class="fa fa-search"></i></button> -->
            <!--     </div> -->
            <!-- </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table ng-if="!treeSelected" class="display table tt-table" style="width: 100%; cellspacing: 0;">
                <thead class="tt-title">
                    <tr>
                        <th class="">TYPE</th>
                        <th class="col-md-5">NAME</th>
                        <th class="">SIZE  <i class="fa fa-sort"></i></th>
                        <th class=""></th>
                        <th class=""><i class="fa fa-heart"></i></th>
						<th class="">DATE</th>
                        <!-- <th class="col-md-2">DL <i class="fa fa-sort"></i></th> -->
                        <th class="">DL <i class="fa fa-sort"></i></th>
						<th class=""><i class="fa fa-user"></i></th>
						<th class"">RATE</th>
                        <th class=""><i class="fa fa-comments"></i><i class="fa fa-sort"></i></th>
                        <!-- <th class="col-md-2"><i class="fa fa-comments"></i><i class="fa fa-sort"></i></th> -->
                        <!-- <th class=""></th> -->
                    </tr>
                </thead>
                <tbody class="tt-text">
                    <tr ng-repeat="(key, item) in elementsActual | filter : search"  ng-class-odd="'tt-table-odd'" ng-class-even="'tt-table-even'">
                        <td class="tt-darkblue">
                            <div ng-switch="item.type">
                                <div ng-switch-when="folder" ><i class="icon-folder fls-icon"></i></div> <!-- A MODIFIER ! -->
                                <!-- <div ng-switch-when="folder" ><i class="glyphicon glyphicon-folder-close"></i></div> -->
                                <!-- <div ng-switch-when="audio" ><i class="fa fa-music fa-4"></i></div> -->
                                <div ng-switch-when="audio" ><i class="tt-icon-music fls-tt-icon"></i></div>
                                <!-- <div ng-switch-when="video" ><i class="fa fa-film fa-4"></i></div> -->
                                <div ng-switch-when="video" ><i class="tt-icon-film fls-tt-icon"></i></div>
                                <div ng-switch-when="image" ><i class="icon-picture fls-icon"></i></div> <!-- A TESTER ET A MODIFIER ! -->
                                <!-- <div ng-switch-when="image" ><i class="glyphicon glyphicon-picture"></i></div> -->
                                <div ng-switch-when="text" ><i class="tt-icon-file-text2 fls-tt-icon"></i></div>
                                <!-- <div ng-switch-default ><i class="fa fa-file-text-o fa-4"></i></div> -->
                                <div ng-switch-default ><i class="tt-icon-file-empty fls-tt-icon"></i></div>
                                <!-- <div ng-switch-when="folder" ><i class="fa fa-folder fa-4"></i> {{item.type}}</div> -->
                                <!-- <div ng-switch-when="audio" ><i class="fa fa-file-audio-o fa-4"></i> {{item.type}}</div> -->
                                <!-- <div ng-switch-when="video" ><i class="fa fa-file-video-o fa-4"></i> {{item.type}}</div> -->
                                <!-- <div ng-switch-default ><i class="fa fa-question-circle fa-4"></i> {{item.type}}</div> -->
                            </div>
                        </td>
                        <td ng-dblclick="openFile(item)">{{item.name}}</td>
                        <td>{{item.sizeConvert}}</td>
                        <!-- <td> <i ng-click="download(item._id, item.name)" class="fa fa-download"></i> </td> -->
                        <td class="tt-darkblue"> <i ng-click="download(item._id, item.name)" class="icon-down-circled fls-download"></i> </td>
                        <td>
                            <i ng-if="item.isLockedByUser == 1" class="fa fa-heart fls-locked-user" ng-click="unlockFile(item)"></i>
                            <i ng-if="(item.isLocked == 1 && item.isLockedByUser == 0)" class="fa fa-heart fls-locked-other" ng-click="lockFile(item)"></i>
                            <i ng-if="(item.isLocked == 0 && item.isLockedByUser == 0)" class="fa fa-heart fls-locked-no" ng-click="lockFile(item)"></i>
                            <!-- <i ng-if="item.isLockedByUser == 1" class="fa fa-lock" ng-click="unlockFile(item)"></i> -->
                            <!-- <i ng-if="item.isLockedByUser == 0" class="fa fa-unlock-alt" ng-click="lockFile(item)"></i> -->
                        </td>
						<td>{{item.createdAt | date:'MM/dd/yy'}}</td>
                        <td>{{item.downloads}}</td>
						<!-- <td>{{item.creator.login}}</td> -->
						<td><img ng-src="/assets/avatar/{{item.creator.avatar}}" err-SRC="/assets/avatar/default.png" title="{{item.creator.login}}" alt="{{item.creator.login}}" class="fls-avatar"></img></td>
						<!-- <td><span class="stars">{{item.averageGrade}}</span></td> -->
						<td><div class="stars">{{item.averageGrade}}</div></td>
						<!-- <td>{{item.averageGrade}}</td> -->
                        <td>{{item.commentsNbr}}</td>
                        <!-- <td ng-click="showInfo(item)"><i class="fa fa-info-circle"></i></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <script src="js/stars-rating.js"></script> -->
<!-- <video controls src="{{pathStreaming}}" type="video/avi">Ici la description alternative</video> -->
