<div class="page-title">
    <h3>Les fichiers</h3>
</div>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <button type="button" class="btn btn-info" ng-click="backFolder(treeSelected, []);"><i class="fa fa-chevron-left fa-2"></i></button> {{pathActual}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="file-info" ng-if="itemSelected">
            <!-- Lock file : <i ng-if="itemSelected.isLockedByUser == 1" class="fa fa-lock" ng-click="unlockFile(itemSelected)"></i>
                        <i ng-if="itemSelected.isLockedByUser == 0" class="fa fa-unlock-alt" ng-click="lockFile(itemSelected)"></i> -->
            Note
            <div class="star-rating" star-rating rating-value="5" data-max="5"></div>
            Commentaire
            <div ng-repeat="comment in itemSelected.comments">
                {{comment.user.login}} :{{comment.text}}
            </div>
            Ajouter un commentaire:
            <textarea ng-model="$parent.newComment"> </textarea>
            <button ng-click="addComment()">Ajouter</button>
        </div>

        <div class="col-md-12">
        <table ng-if="!treeSelected" class="display table" style="width: 100%; cellspacing: 0;">
            <thead>
                <tr>
                    <th class="">Type</th>
                    <th class="col-md-10">Name</th>
                    <th class="">Nombre de commentaires</th>
                    <th class="">Nombre de Telechargements</th>
                    <th class="">Lock</th>
                    <th class="">Size</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody ng-repeat="(key, item) in elementsActual">
                <tr>
                    <td>
                        <div ng-switch="item.type">
                            <div ng-switch-when="folder" ><i class="fa fa-folder fa-4"></i> {{item.type}}</div>
                            <div ng-switch-when="audio" ><i class="fa fa-file-audio-o fa-4"></i> {{item.type}}</div>
                            <div ng-switch-when="video" ><i class="fa fa-file-video-o fa-4"></i> {{item.type}}</div>
                            <div ng-switch-default ><i class="fa fa-question-circle fa-4"></i> {{item.type}}</div>
                        </div>
                    </td>
                    <td ng-dblclick="openFolder(item._id)" ng-clickc="showInfo(item)">{{item.name}}</td>
                    <td>{{item.commentsNbr}}</td>
                    <td>{{item.downloads}}</td>
                    <td>
                        <i ng-if="item.isLockedByUser == 1" class="fa fa-lock" ng-click="unlockFile(item)"></i>
                        <i ng-if="item.isLockedByUser == 0" class="fa fa-unlock-alt" ng-click="lockFile(item)"></i>
                    </td>
                    <td>{{item.sizeConvert}}</td>
                    <td> <i ng-click="download(item._id, item.name)" class="fa fa-download"></i> </td>
                </tr>
            </tbody>
        </table>
        </div>

        <table ng-if="treeSelected" class="display table" style="width: 100%; cellspacing: 0;">
            <thead>
                <tr>
                    <th class="">Type</th>
                    <th class="col-md-14">Name</th>
                    <th class="col-md-1">Size</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody ng-repeat="item in elementsActual.fileList">
                <tr>
                    <td>
                        <div ng-switch="item.type">
                            <div ng-switch-when="folder" ><i class="fa fa-folder fa-4"></i> {{item.type}}</div>
                            <div ng-switch-when="audio" ><i class="fa fa-file-audio-o fa-4"></i> {{item.type}}</div>
                            <div ng-switch-when="video" ><i class="fa fa-file-video-o fa-4"></i> {{item.type}}</div>
                            <div ng-switch-default ><i class="fa fa-question-circle fa-4"></i> {{item.type}}</div>
                        </div>
                    </td>
                    <td ng-dblclick="openFolder(item)">{{item.name}}</td>
                    <td>{{item.sizeConvert}}</td>
                    <td> <i ng-click="download(treeSelected.id, item.name)" class="fa fa-download" ></i> </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



<video controls src="{{pathStreaming}}" type="video/avi">Ici la description alternative</video>
