<div class="page-title">
    <h3>mon profile</h3>
</div>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">Drag&Drop OR Click choose file </h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                            accept="*" ngf-pattern="'*'" style="height: 104px;border-style: dashed;">
                            Drop pdfs or images here or click to upload
                        </div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
