<div class="page-title">
    <h3>Les torrents</h3>
</div>

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">Ajouter une url</h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">URL</label>
                            <input type="text" class="form-control" ng-model="newTorrentUrl" placeholder="Torrent Url">
                        </div>
                        <button type="submit" ng-click="sendTorrentUrl()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">Drag and Drop</h4>
                </div>
                <div class="panel-body">
                    <form>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="display table" style="width: 100%; cellspacing: 0;">
                            <tbody ng-repeat="torrent in torrents">
                                <tr>
                                    <td>
                                        {{torrent.name}}
                                        <div class="progress progress-md">
                                            <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="{{torrent.pourcentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{torrent.pourcentage}}%">
                                                {{torrent.pourcentage | number:2}} %
                                            </div>
                                        </div>
                                        <i class="fa fa-pause" ng-click="torrentStop(torrent.id)"></i>
                                        <i class="fa fa-play" ng-click="torrentStart(torrent.id)"></i>
                                        <a href="" ng-click="torrentRemove(torrent.id, true)"> <i class="fa fa-trash"></i> Delete local </a>
                                        <a href="" ng-click="torrentRemove(torrent.id, false)"> <i class="fa fa-trash"></i> Delete torrent </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
