.admdir-warning {
	color: red;
}
.admdir-button {
	color: #fff;
	font-family: 'MuseoSans-300';
	background-color: #325064;
	margin-top: 4px;
	float: left;
}
.admdir-button:hover {
	color: #fff;
	background-color: #99A8B2;
}
.admdir-submitcheck {
	padding-left: 8px;
}
.admdir-addcheck {
	padding-left: 8px;
	font-size: 22px;
	vertical-align: middle;
}
.admdir-popover-read {
	color: red;
}
.admdir-popover-write {
	color: red;
}
.admdir-disclaimer {
	margin-top: 16px;
}
.admdir-search {
	margin-top: 12px;
}
.admdir-add-files {
	margin-top: 16px;
	margin-left: 36px;
}
.admdir-table {
	margin-top: 70px;
}
