
.pr-myprofile {
	margin-top: 16px;
}

.pr-myfiles {
	margin-top: 50px;
}

.pr-filters {
	margin-top: 20px;
}

.pr-table {
	margin-top: 16px;
}

.pr-table-title {
	/* font-size: 16px; */
}

.pr-submitcheck {
	padding-left: 8px;
}

.pr-update {
	margin-top: 88px;
}

.pr-img {
	height: 42px;
	width: 42px;
	border-radius: 21px;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
}
