<div class="row">
    <div class="col-md-12">
        <h3 class="tt-title">USERS:</h3>
    </div>
    <div class="col-md-12 au-actions">
        <button (click)="navigateToNewUser()" class="btn btn-primary tt-button">ADD NEW USER <fa-icon
                [icon]="faPlusCircle" class="au-submitcheck"></fa-icon></button>
    </div>
    <div class="col-md-12 au-table">
        <table id="example" class="display table tt-table" style="width: 100%; cellspacing: 0;">
            <thead class="tt-title">
                <tr>
                    <th>AVATAR</th>
                    <th>LOGIN</th>
                    <th>MAIL</th>
                    <th>ROLE</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index" class="tt-text"
                    [ngClass]="{'tt-table-odd': i % 2 === 0, 'tt-table-even': i % 2 !== 0}">
                    <td><img [src]="'/avatar/' + user.avatar" (error)="onUserAvatarImageError($event)" alt="Smiley face"
                            class="au-avatar"></td>
                    <td (click)="navigateToEditUser(user)">{{user.login}}</td>
                    <td>{{user.mail}}</td>
                    <td *ngIf="user.role === 'user'">User</td>
                    <td *ngIf="user.role === 'admin'">Admin</td>
                    <td (click)="openDeleteModal(user)"><fa-icon [icon]="faTimes" class="tt-darkblue"></fa-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div #deleteModal class="modal fade custom-modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete {{ userToDelete?.login }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">Yes</button>
            </div>
        </div>
    </div>
</div>