.au-submitcheck { /* doublon */
	padding-left: 8px;
}

.au-avatar {
	height: 42px;
	width: 42px;
	border-radius: 21px;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
}

.au-edit {
	margin-top: 20px;
}

.au-edit-form {
	margin-top: 16px;
}

.au-edit-submit {
	margin-top: 16px;
}

.au-actions {
	margin-top: 12px;
}

.au-table {
	margin-top: 16px;
}

.au-get-mails {
	margin-left: 14px;
}

.custom-modal .modal-dialog {
    margin-top: 200px; /* Adjust this value to move the modal lower */
  }