

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
	text-align: center;
	border-top: 1px solid #000;
	padding-top: 10px;
}

.contenttest {
    padding-bottom: 100px;
}
