.ad-warning {
	color: red;
}

.ad-button { /* doublon */
	color: #fff;
	font-family: 'MuseoSans-300';
	background-color: #325064;
	margin-top: 4px;
	float: left;
}

.ad-button:hover { /* doublon */
	color: #fff;
	background-color: #99A8B2
}

.ad-submitcheck { /* doublon */
	padding-left: 8px;
}


.ad-addcheck { /* doublon */
	padding-left: 8px;
	font-size: 22px;
	vertical-align: middle;
}

.ad-popover-read {
	color: red;
}

.ad-popover-write {
	color: red;
}

.ad-disclaimer {
	margin-top: 16px;
}

.ad-search {
	margin-top: 12px;
}

.ad-add-files {
	margin-top: 16px;
	margin-left: 36px;
}

.ad-table {
	margin-top: 70px;
}
